.tutor-list-card {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
}

.top-part-container {
    display: flex;
    justify-content: space-between;
}

.tutor-list-card-img-container {
    width: 100%;
    height: 25vh;
}

.tutor-list-card-img-container img {
    width: 100%;
    height: 100%;
}