.tutor-page {
    min-height: 100vh;
    display: flex;
    background-color: #F6F7F9;
}

.tutor-list-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.tutor-card-container {
    width: 90%;
    display: grid;
    /* grid-template-rows: 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}