.sign-up {
    width: 233px;
    height: 59px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    color: white;
    background-color: #3563E9;
    border: none;
    border-radius: 20px;
}